html, body {
	height: 100%;
	min-height: 100%;
	padding: 0px;
	margin: 0px;
}

.display {
	position: relative;
	min-height: 100%;

	font-family: 'Oswald', sans-serif;
}

.center {
	position: absolute;
	margin-top: 23px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	text-align: center;

	font-size: 80px;
	font-size: 20vw;
}

.display span {
	display: block;
}

.hex, .rgb {
	font-weight: 400;
}

.rgb {
	font-size: 0.5em;
	height: 2.96em;
	width: 8em;
	line-height: 2.96em;
}

.hex {
	font-size: 1em;
	width: 4em;
}

.change {
  font-size: 0.2em;
  position: absolute;
  right: -1em;
   top: -0.5em;

  width: 2em;
}

.change img {
  width: 1.2em;
  margin-bottom: -0.5em;
}

.change.dark img {
	filter: brightness(18.75%);
	-webkit-filter: brightness(18.75%);
}

.query {
	margin-top: -0.5em;

	font-size: 0.4em;
	font-weight: 300;
}

@media all and (min-width: 700px) {
	.center {
		font-size: 140px;
	}
}