# One year for images
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
	Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# One week for css and js
<filesMatch ".(css|js)$">
	Header set Cache-Control "max-age=604800, public"
</filesMatch>